<a href="https://colab.research.google.com/github/Cpalm03/Big-Data-Analytics/blob/main/ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
cLst = ['p','y','t','h','o','n']
del cLst[2]
del cLst[3]
rLst = [cLst[3], cLst[2], cLst[1], cLst[0]]
fStr = ''.join(rLst)
print(fStr)

nhyp

In [27]:
num1, num2 = input("Please input two numbers: ").split()

print("Multiplied they equal " + str(int(num1) * int(num2)))
print("Added they equal " + str(int(num1) + int(num2)))
print("Subtracted they equal " + str(int(num1) - int(num2)))
print("Divided they equal " + str(int(num1) / int(num2)))

Please input two numbers: 6 3
Multiplied they equal 18
Added they equal 9
Subtracted they equal 3
Divided they equal 2.0

In [30]:
uStr = input("please input a String: ")
nStr = uStr.replace('python', 'pythons')
print(nStr)

please input a String: python python python
pythons pythons pythons

In [41]:
grade = int(input("Please input your grade: "))

if grade < 0 or grade > 100:
  print("Invalid Grade")
elif grade < 60:
  print("Your grade is an F")
elif grade < 70:
  print("Your grade is a D")
elif grade < 80:
  print("Your grade is a C")
elif grade < 90:
  print("Your grade is a B")
else:
  print("You got an A!!!!")

Please input your grade: 79
Your grade is a C

In [42]:
x = [23, 'Python', 23.98]
types = [type(x[0]), type(x[1]), type(x[2])]

print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [52]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length of the set IT_companies = " + str(len(IT_companies)))
IT_companies.add('Twitter')
print(IT_companies)
IT_companies.update(['Meta', 'Dell', 'Sony'])
print(IT_companies)
IT_companies.remove('Facebook')
print(IT_companies)
#Discard will not raise an error if the value does not exist
print(A.union(B))
print(A.intersection(B))
#A is a Subset of B
#No they are not
print("A join B")
print(A.union(B))
print("B join A")
print(B.union(A))
# it would be 28 and 27
A.clear()
B.clear()
setAges = set(age)
print("Set length = " + str(len(setAges)) + " List length = " + str(len(age)))

Length of the set IT_companies = 7
{'Microsoft', 'Amazon', 'Oracle', 'Google', 'Apple', 'IBM', 'Twitter', 'Facebook'}
{'Amazon', 'Apple', 'Microsoft', 'Meta', 'Oracle', 'Sony', 'Google', 'IBM', 'Twitter', 'Facebook', 'Dell'}
{'Amazon', 'Apple', 'Microsoft', 'Meta', 'Oracle', 'Sony', 'Google', 'IBM', 'Twitter', 'Dell'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
A join B
{19, 20, 22, 24, 25, 26, 27, 28}
B join A
{19, 20, 22, 24, 25, 26, 27, 28}
Set length = 5 List length = 8